# Dependencies
node_modules/

# Vercel
.vercel/
.turbo/

# Production
build/
dist/

# misc
.DS_Store
Thumbs.db

# Local env
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
!.env.example


*.tsbuildinfo
*.zip
*.tar
*.tar.xz
*.tar.gz
*.7z
*.rar

# Ignore log files
*.log

# Old
.old/
