name: NPM Auto Deprecate

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  auto-deprecate:
    name: NPM Auto Deprecate
    uses: aether-development/.github/.github/workflows/reusable-bun-job.yml@main
    with:
      script-name: npm-deprecate
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
